<div class="modal fade" id="evento1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel"><%= "Presentes #{event.name}"%></h4>
      </div>
      <div class="modal-body">
				<table class="table table-stripped">
					<thead>
						<tr><th>Presente</th></td>
					</thead>
					<tbody>
						<% event.gift_lists.each do |gift| %>
							<tr><td><%= gift.name %></td><tr>
						<% end %>
					</tbody>
				</table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
