<div id="guestsModal" class="modal hide fade">
  <div class="modal-header">
    <h3>Convidados</h3>
  </div>
  <div class="modal-body">
    <p>Form aqui</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Fechar</a>
    <a href="#" class="btn btn-primary">Salvar</a>
  </div>
</div>
