		<div class="photos">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="title">
							<h3>Fotos</h3>
						</div>

						<div class="bor"></div>
						<div id = "myCarousel" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								<% @photos.each_with_index do |photo, i| %>
									<li data-target="#myCarousel" data-slide-to="<%= i + 1%>"></li>
								<% end %>
							</ol>
							<div class="carousel-inner">
									<div class="item active">
										<img src="assets/mainback.jpg" alt="" class="img-responsive" />
									</div>
								<% @photos.each do |photo| %>
									<div class="item">
										<%= image_tag photo.image.url(:large) %>
									</div>
								<% end %>
							</div>
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    						<span class="glyphicon glyphicon-chevron-left"></span>
  						</a>
  						<a class="right carousel-control" href="#myCarousel" data-slide="next">
    						<span class="glyphicon glyphicon-chevron-right"></span>
  						</a>
						</div>
					</div>
				</div>
				<a name="rsvp" id="rsvp"></a>
				<hr>
			</div>
		</div>

